In [1]:
%pip install mysqlclient
%pip install python-slugify

Requirement already satisfied: mysqlclient in /opt/conda/lib/python3.7/site-packages (2.0.3)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: python-slugify in /opt/conda/lib/python3.7/site-packages (5.0.2)
Requirement already satisfied: text-unidecode>=1.3 in /opt/conda/lib/python3.7/site-packages (from python-slugify) (1.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
dataFolder = 'data'
resultFolder = 'testresult'

In [3]:
import pandas as pd
from xlrd import open_workbook
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from datetime import datetime
import unicodedata
from slugify import slugify

In [4]:
con = create_engine("mysql://root:his@path.org@cucytdp_db_1:3306/ytdp?charset=utf8")

In [5]:
from os import listdir
from os.path import isfile, join
dataFiles = [f for f in listdir(dataFolder) if isfile(join(dataFolder, f))]

resultfiles = [f for f in listdir(resultFolder) if isfile(join(resultFolder, f))]

In [6]:
data = []
for f in dataFiles:
    if not f.endswith(".xlsx"):
        continue
    data.append(pd.read_excel(join(dataFolder, f), sheet_name=f.replace(".xlsx", "")))
    
result = []
for f in resultfiles:
    if not f.endswith(".xlsx"):
        continue
    path = join(resultFolder, f)
    xl = pd.ExcelFile(path)
    for sheet in xl.sheet_names:
        result.append(pd.read_excel(path, sheet_name=sheet)  )

In [7]:
df = pd.concat(data)
df_result = pd.concat(result)

In [8]:
def normalizeDF(inputDF):
    columns = {}
    for c in inputDF.columns:
        columns[c] = slugify(c).upper().replace("-","_")
    return inputDF.rename(columns = columns)

In [9]:
df = normalizeDF(df)
df_result = normalizeDF(df_result)

df = df[df['MA_TT'].notnull()]
df['MA_TT'] = df.apply(lambda x: '%d' % x['MA_TT'], axis=1)

In [10]:
count = len(df.index)
print("Đọc %d dòng" % count)

Đọc 2212 dòng

In [11]:
#df.to_sql('data', con=con, if_exists = 'replace', index= False, chunksize = 1000)

In [12]:
df_result.columns

Index(['STT', 'UNNAMED_1', 'SO_LO_DON_240521_17_15_25', 'MA_SO_MAU',
       'MA_DICH_TE', 'HO_TEN', 'NAM_SINH', 'GIOI_TINH', 'DIA_CHI', 'XA',
       'HUYEN', 'TINH', 'DIEN_THOAI', 'DOI_TUONG', 'DICH_TE', 'LAN_LAY_MAU',
       'GHI_CHU', 'KET_QUA', 'CT'],
      dtype='object')

In [13]:
df.columns

Index(['MA_DON_VI', 'MA_NGAY', 'MA_BAN', 'MA_MAU_BENH_PHAM',
       'HINH_THUC_LAY_MAU', 'MA_TT', 'HO_VA_TEN', 'NAM_SINH', 'GIOI_TINH',
       'SO_DIEN_THOAI', 'HUYEN_NOI_O_HIEN_TAI', 'XA_NOI_O_HIEN_TAI',
       'THON_NOI_O_HIEN_TAI', 'NGHE_NGHIEP', 'NOI_LAM_VIEC_HOC_TAP',
       'DOI_TUONG_LAY_MAU', 'LAN_LAY_MAU',
       'GHI_CHU_NEU_CO_TRUONG_HOP_DAC_BIET', 'PHAN_LOAI_NOI_LAY_MAU',
       'DIA_DIEM_NOI_LAY_MAU', 'HUYEN_NOI_LAY_MAU', 'XA_NOI_LAY_MAU',
       'THON_NOI_LAY_MAU', 'LOAI_MAU', 'DON_VI_LAY_MAU', 'MA_MAU_BENH_PHAM_1',
       'MA_NGUOI_DUOC_LAY_MAU', 'NGAY_LAY_MAU', 'HINH_THUC_LAY_MAU_1',
       'LOAI_GOP', 'NGAY_XET_NGHIEM', 'PHUONG_PHAP_XET_NGHIEM',
       'NGAY_TRA_KQXN', 'DON_VI_GUI_MAU', 'TINH_TRANG_MAU',
       'KET_QUA_XET_NGHIEM', 'CT_VALUE', 'TT'],
      dtype='object')

### Cấu hình cột kết quả

In [14]:
result_columns = ['MA_SO_MAU', 'KET_QUA', 'CT']
df_result = df_result[result_columns]

In [15]:
df = df.merge(df_result, left_on='MA_MAU_BENH_PHAM', right_on='MA_SO_MAU', how='left')

In [26]:
def update_colum_data(df, from_col, to_col, remove=False):
    df[to_col] = df.apply(lambda x: x[from_col] if x[from_col] else x[to_col], axis=1)
    if remove:
        df.drop([from_col])
    return df

In [27]:
df = update_colum_data(df, 'KET_QUA','KET_QUA_XET_NGHIEM')

In [ ]:
df.to_sql('data', con=con, if_exists = 'replace', index= False, chunksize = 1000)